@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=Nunito:wght@300&display=swap');
#content {
    max-width: 1600px;
    margin: 0 auto;
}
nav a {
    text-align: center;
    color: black;
    text-decoration: none;
    padding: 35px;
    font-weight: "DM Serif Display", Georgia, serif;
    font-size: 1.5em;
}
#hero-msg h1, #hero-msg h4 {
    text-align: center;
}
.button-box {
    text-align: center;
}
main section {
    text-align: center;
}
#background {
    height: 725px;
}
body{
    background-color: #e8f1ff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 22px;
    padding: 0;
    margin: 0;
}
header {
    background-color: #76bed0;
}
nav a:hover {
    background-color: white;
    color: #185db3;
}
.book, .join {
    background-color: #185db3;
    color: #e8f1ff;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}
.book:hover, .join:hover {
    background-color: #76bed0;
    color: black;
}
#background {
    background-color: #76bed0;
}
.msg {
    background-color: #185db3;
}
footer {
    background-color: #76bed0;
    color: black;
    padding: 25px 50px;
    margin-top: 50px;
}
footer a{
    color: black;
    text-decoration: none;
}
footer a:hover {
    color: #e8f1ff;
}
.home-title {
    color: black;
}
h4 {
    color: black;
}
h2 {
    margin: 0;
}
.msg h2 {
    color: black;
}
.msg p {
    color: black;
    font-size: 0.8em;
}
.logo {
    width: 80px;
}
#logo-link {
    padding-top: 5px;
}
.icon {
    width: 80px;
    padding-top: 15px;
}
#hero-img {
    width: 100%;
}
footer p {
    font-size: 0.8em;
    font-family: Nunito, Arial, Helvetica, sans-serif, sans-serif;
}
footer p a:hover {
    text-decoration: underline;
}
footer .socials img {
    padding-top: 15px;
}
#hero-msg{
    font-family: "DM Serif Display", Georgia, serif;
    font-size: 2em;
}
section h2 {
    font-family: "DM Serif Display", Georgia, serif;
}
section p {
    font-family: Nunito, Arial, Helvetica, sans-serif, sans-serif;
    font-size: 1.2em;
}
.card-image {
    border: 10px solid #185db3;
    width: 400px;
    margin-top: 35px;
}
main section img {
    box-sizing: border-box;
}
#hero {
    text-align: center;
}
